/* header   */
body {
    overflow-x: hidden;
}

.container-100px{
    background-color: #2c3e50;
    height: 100px;
    line-height: 100px;
}

.left-section-header {
    font-size: 25px;
    width: 50%;
}

nav li {
    font-size: 18px;
}

.left-section-header {
    width: 50%;
}

/* main */
.section-main {
    background-color: #1abc9c;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-jumbotron {
    font-size: 50px;
}

.p-jumbotron {
    font-size: 20px;
}

.linea {
    display: inline-block;
    height: 5px;
    background-color: white;
    width: 15%;
    position: relative;
    bottom: 2px;
}

.linea-nera {
    display: inline-block;
    height: 5px;
    background-color: black;
    width: 15%;
    position: relative;
    bottom: 2px;
}

.section-main-white {    
    padding-bottom: 50px;
}

.card {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.avatar {
    height: 250px;
    margin-top: 100px;
}

.avatar img {
    height: 100%;
}

.burger-menu {
    font-size: 30px;
    position: relative;
    top: 7px;
}

/* footer */
.footer-container {
    padding: 20px 0;
    background-color: #3a546d;
}

.sm i {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    padding-top: 10px;
}

h3 {
    font-size: 20px;
}

footer p {
    font-size: 18px;
}

/* layover */
.plus {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50% -50%);
    font-size: 50px;
    color: white; 
}

.over-layover {
    display: none;
}

.cover-layover:hover .over-layover {
    display: block;
}


/* commons */
.border0 {
    border: 0;
}

.m-30 {
    margin: 30px;
}

.m-10 {
    margin: 10px;
}

.p-tb-50 {
    padding: 50px 0;
}

.white {
    color: white;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.font-18 {
    font-size: 18px;
}

.button {
    border: 1px solid white;
    width: 130px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 50px;
}

.btn {
    background-color: #1abc9c;
    color: white;
    margin-left: 10px;
    margin-bottom: 50px;
}

.b-bottom {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
}

.black {
    color: black;
}
